<h1>Display your Pirate here</h1>
Name: <%= params[:pirate][:name] %>
Weight: <%= params[:pirate][:weight] %>
Height: <%= params[:pirate][:height] %>

<h2>Display your first ship here</h2>
Name: <%= params[:pirate][:ships][0][:name] %>
Type: <%= params[:pirate][:ships][0][:type] %>
Booty: <%= params[:pirate][:ships][0][:booty] %>

<h2>Display your second ship here</h2>
Name: <%= params[:pirate][:ships][1][:name] %>
Type: <%= params[:pirate][:ships][1][:type] %>
Booty: <%= params[:pirate][:ships][1][:booty] %>
