<h1>
Pirate Name: <%= @pirate[:name] %>
<br>
Pirate Weight: <%= @pirate[:height] %>
<br>
Pirate Height: <%= @pirate[:weight] %>
<br>
</h1>


<h2>
Ship1 Name: <%= @pirate[:ships][0][:name] %>
<br>
Ship1 Type: <%= @pirate[:ships][0][:type] %>
<br>
Ship1 Booty: <%= @pirate[:ships][0][:booty] %>
</h2>


<h2>
  Ship2 Name: <%= @pirate[:ships][1][:name] %>
  <br>
  Ship2 Type: <%= @pirate[:ships][1][:type] %>
  <br>
  Ship2 Booty: <%= @pirate[:ships][1][:booty] %>

</h2>
