<h1>Pirates</h1>
<div>
  <p>Name: <%= @pirate.name %></p>
  <p>Height: <%= @pirate.weight %> pounds</p>
  <p>Weight: <%= @pirate.height %> inches</p>
</div>
 <h1>Ships</h1>
<div>
  <% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p></br>
    <p>Type: <%= ship.type %></p></br>
    <p>Booty: <%= ship.booty %></p>
  <% end %></br>
</div>
